<footer>
  <div>
    <img src="" alt="logo" />
  </div>
  <h3>Contact</h3>
  <article>
    <span>2005 stokes Isle apt.896.</span>
    <span>ana ville 10010.USA</span>
    <span>info@yourdomain.com</span>
    <span>(+68)120034509</span>
  </article>
  <nav>
    <a href="">facebook</a>
    <a href="">twitter</a>
    <a href="">instagram</a>
    <a href="">Pinteres</a>
  </nav>
  <nav>
    <ul>
      <li>Our blog</li>
      <li>Lotest projects</li>
      <li>Contact us</li>
    </ul>
    <span>&copy2019 brook. All Rights Reserved.</span>
  </nav>
</footer>
