<main class="main">
  <section class="hero">
    <h1 class="hero_title">
      <span>This is Brook</span>
      <span>A full-service </span>
      <span>creative agency</span>
    </h1>
  </section>

  <section class="menu_aboutus">
    <h5 class="menu_aboutus_name">what we do</h5>
    <p>
      We design & build brands, campaigns,&digital projects for bussinesses
      large and small
    </p>
  </section>

  <section class="options">
    <div class="wrapper">
      <article class="option_items">
        <div class="option1_img">
          <img src="./assets/images/eye-icon.jpg" alt="eye" />
        </div>
        <div class="option_title_text">
          <h3>Modern design</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Facere,culpa, minima facilis ad voluptas hic praesentium asperiores
            officiaunde veritatis ab incidunt maxime autem voluptatum illum
            temporibus itaque. Rerum, nulla!
          </p>
          <a href="">More details</a>
        </div>
      </article>

      <article class="option_items">
        <div class="option2_img">
          <img src="./assets/images/book-icon.jpg" alt="book" />
        </div>
        <div class="option_title_text">
          <h3>Modern design</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere,
            culpa, minima facilis ad voluptas hic praesentium asperiores officia
            unde veritatis ab incidunt maxime autem voluptatum illum temporibus
            itaque. Rerum, nulla!
          </p>
          <a href="">More details</a>
        </div>
      </article>

      <article class="option_items">
        <div class="option3_img">
          <img src="./assets/images/boxes-icon.jpg" alt="boxes" />
        </div>
        <div class="option_title_text">
          <h3>Modern design</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere,
            culpa, minima facilis ad voluptas hic praesentium asperiores officia
            unde veritatis ab incidunt maxime autem voluptatum illum temporibus
            itaque. Rerum, nulla!
          </p>
          <a href="">More details</a>
        </div>
      </article>
    </div>
  </section>
</main>
