<main class="main">
  <section class="hero">
          <h1 class="hero_title">
            <span>This is Brook</span>
            <span>A full-service </span>
            <span>creative agency</span>
            </h1>
  </section>
   
  <section class="menu_aboutus">
         <h5 class="menu_aboutus_name">what we do</h5>
         <p>We design & build brands, campaigns,&digital projects for bussinesses large and small </p>  
    </section>

<section class="main-menu"> 
    <div class="main__menu_items">
    <article class="main_menu_item1">
         <img src="./assets/images/eye-icon.jpg" alt="eye" />
             <h3>Modern design</h3>
              <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere,
                culpa, minima facilis ad voluptas hic praesentium asperiores officia
                unde veritatis ab incidunt maxime autem voluptatum illum temporibus
                itaque. Rerum, nulla!</p>
              <a href="">More details</a>
    </article>

    <article class="main_menu_item2">
     <img src="./assets/images/book-icon.jpg" alt="book" />
        <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere,
        culpa, minima facilis ad voluptas hic praesentium asperiores officia
        unde veritatis ab incidunt maxime autem voluptatum illum temporibus
        itaque. Rerum, nulla!
      </p>
      <a href="">More details</a>

    <article class="main_menu_item3">
        <img src="./assets/images/boxes-icon.jpg" alt="boxes" />
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere,
            culpa, minima facilis ad voluptas hic praesentium asperiores officia
            unde veritatis ab incidunt maxime autem voluptatum illum temporibus
            itaque. Rerum, nulla!</p>
        <a href="">More details</a>
    </div>
    <section> 
</main>


