.hero {
  background-image: url("../../assets/images/slider-home.jpg");
  background-size: cover;
  background-position-x: center;
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 20px;
}

.hero_title {
  margin: 0px;
}
.hero_title span {
  display: block;
  text-align: center;
  text-transform: capitalize;
}

.menu_aboutus {
  padding: 30px;
  text-align: center;
}

.menu_aboutus p {
  padding-top: 20px;
}

.options article {
  border: 1px solid #cacaca;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.options {
  .wrapper {
    display: flex;
    flex-direction: column;

    @media all and (min-width: 768px) {
      flex-direction: row;
    }
  }
}

.option_items {
  padding: 10px;
}

.option_items p {
  font-size: 0.5 rem;
}

.option_items h3,
p {
  padding: 10px;
}
